body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  a {
    text-decoration: none;
  }

  button {
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
